[language-server.lua-language-server]
command = "lua-language-server"
args = ["--format"]

[language-server.lua-language-server.config]
Lua.workspace.library = [
 "/Users/gert/.luarocks/share/lua/5.4/",
 "/Users/gertm/.luarocks/share/lua/5.4/",
 "/opt/homebrew/share/lua/5.4/",
 "/opt/homebrew/lib/luarocks/rocks-5.4",
 "/Users/gertm/src/love-api/love_api.lua",
 "/Users/gert/src/love-api/love_api.lua"
]
# git clone git@github.com:love2d-community/love-api.git

[language-server.lua-language-server.config.Lua.hint]
enable = true
arrayIndex = "Enable"
setType = true
paramName = "All"
paramType = true
await = true

[[language]]
 name = "go"
 auto-format = true
 language-servers = ["gopls", "golangci-lint2-langserver"]
 formatter = { command = "goimports" }

[language-server.golangci-lint2-langserver]
command = "golangci-lint-langserver"

[language-server.golangci-lint2-langserver.config]
command = ["golangci-lint", "run", "--out-format", "json", "--show-stats=false", "--issues-exit-code=1"]
